	<nav class="navbar navbar-default">
		<a class="navbar-brand" href="/">
			<p class="text-primary">
				<span class="glyphicon glyphicon-arrow-left"></span>
				<strong>Архітектура</strong>
			</p>
		</a>
	</nav>